@import "utils";

html, body {
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $bg-color;
}

.logo {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;

    transition: top .1s ease,
                opacity .1s ease; 

    &:hover {
        top: 25px;
        opacity: .7;
    }

}

.title {
    text-align: center;
    font-size: 4em;
    color: beige;
}

.result-div {
    display: flex;
    justify-content: center;

    span {
        font-size: 3em;
        font-weight: 300;
        color: beige;
    }
}

.wrapper {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto;
}

.light {
    border-radius: 50%;
    border: 2px solid beige;
    background-color: $bg-color;
    width: 50px;
    height: 50px;
    margin: 5px 5px;
}

.controls {
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        margin: 0 5px;
    }
}

.on {
    background-color: beige;
}

.btn {
    border-radius: 15px;
    color: white;
    border: 1px solid white;
    width: 200px;
    height: 50px;
    font-size: 1.3rem;
    background-color: #0e2864;
    text-transform: uppercase;
    letter-spacing: 2px;

    &:hover {
        opacity: .8;
    }
}

.reset {
    background-color: #a62626;
    color: white; 
    border: 1px solid white
}