html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.title {
    text-align: center;
    font-size: 4em;
    color: lighten($color: #000000, $amount: 25%)
}

.result-div {
    display: flex;
    justify-content: center;

    span {
        font-size: 3em;
    }
}

.wrapper {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto;
}

.light {
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
    width: 50px;
    height: 50px;
    margin: 5px 5px;
}

.controls {
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        margin: 0 5px;
    }
}

.on {
    background-color: green;
}

.btn {
    border-radius: 15px;
    border: 2px solid black;
    width: 130px;
    height: 50px;
    font-size: 1.3rem;
    background-color: #5581ea;

    &:hover {
        opacity: .8;
    }
}

.reset {
    background-color: red;
    color: white; 
}